.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 10px;
}

.chat-header-hash {
  color: grey;
  font-size: 30px;
  padding: 10px;
}

.chat-header-left > h3 {
  display: flex;
  align-items: center;
  color: white;
}

.chat-header-right {
  display: flex;
  align-items: center;
  flex: 0.5;
  justify-content: space-between;
}

.chat-header-right > .MuiSvgIcon-root {
  padding: 5px;
  cursor: pointer;
}
.chat-header-right > .MuiSvgIcon-root:hover {
  color: white;
}

.chat-header-search {
  display: flex;
  align-items: center;
  color: gray;
  background-color: #2f3135;
  border-radius: 3px;
  padding: 3px;
}

.chat-header-search > input {
  background: transparent;
  outline-width: 0;
  color: white;
  border: none;
}
