.chat-message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.chat-message-info {
  margin-left: 20px;
}

.chat-message-timestamp {
  color: grey;
  margin-left: 20px;
  font-size: x-small;
}
