.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #363a3f;
  height: 100vh;
}

.chat-input {
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  border-top: 1px solid grey;
  background-color: #474b53;
}

.chat-input > form > input {
  background: transparent;
  outline-width: 0;
  color: white;
  border: none;
  padding: 15px;
  font-size: large;
  width: 100%;
}

.chat-input > form {
  flex: 1;
}

.chat-input-button {
  display: none;
}

.chat-input-icons > .MuiSvgIcon-root {
  padding: 5px;
}

.chat-messages {
  flex: 1;
}
