.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;
}

.sidebar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2f3135;
  color: white;
  border-bottom: 3px solid #26282c;
}

.sidebar-channels {
  flex: 1;
}

.sidebar-addChannel {
  cursor: pointer;
}

.sidebar-addChannel:hover {
  color: white;
}

.sidebar-channels-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2f3135;
  color: gray;
}

.sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar-voice,
.sidebar-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  background-color: #2f3135;
  padding: 18px;
  border-top: 1px solid grey;
}

.sidebar-voice-info,
.sidebar-profile-info {
  flex: 1;
  padding: 10px;
}

.sidebar-voice-icon {
  color: #4fb185;
}

.sidebar-voice-info > h3 {
  color: #4fb185;
}

.sidebar-voice-info-p,
.sidebar-profile-info-p {
  font-size: smaller;
}

.sidebar-voice-icons > .MuiSvgIcon-root,
.sidebar-profile-icons > .MuiSvgIcon-root {
  padding: 10px;
}

.sidebar-profile-info > h3 {
  color: white;
}
